*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f4f4;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:#0f172a;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
}
#list-title{
font-size: 15px;
font-weight: bold;
}
#list-btn{
 background-color: blueviolet;
 color: #fff;
 padding: 10px;
 width: 60px;
 border: none;
 border-radius: 3px;
 cursor: pointer;
}
#list-btn:hover{
 background-color: rgb(160, 83, 232);
}
li{
 font-size: 22px;
}
#del{
 background-color: rgb(239, 65, 65);
 color: white;
 padding: 5px;
 border: none;
 cursor: pointer;
 border-radius: 3px;
}
#edit{
 background-color: rgb(15, 121, 35);
 color: white;
 padding: 5px;
 border: none;
 cursor: pointer;
 border-radius: 3px;
 width: 50px;
}
.list-box{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 6px;
}
.list-box input{
 padding: 10px;
 width: 100%;
}
.nav-links a{
text-decoration:none;
color:white;
font-size:16px;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:#38bdf8;
left:0;
bottom:-5px;
transition:0.3s;
}

.nav-links a:hover::after{
width:100%;
}

.menu-icon{
display:none;
font-size:26px;
cursor:pointer;
}

#menu-toggle{
display:none;
}

section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
}
.footer {
  background: #212542;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer h2 {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
}

/* Footer Links */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-links li {
  position: relative;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
  display: inline-block;
  transition: all 0.3s ease;
}

/* Hover Animation */
.footer-links a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #00bfff;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-links a:hover::after {
  width: 100%;
}

/* Footer Copy */
.footer-copy {
  font-size: 14px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}

/* Mobile */

@media(max-width:768px){

.nav-links{
position:absolute;
top:60px;
left:-100%;
background:#0f172a;
width:100%;
flex-direction:column;
text-align:center;
padding:20px 0;
transition:0.3s;
}

.nav-links li{
margin:15px 0;
}

.menu-icon{
display:block;
}

#menu-toggle:checked ~ .nav-links{
left:0;
}

}
